body {
    font-family: arial;
    line-height: 1.5;
    background-color: rgb(65, 55, 55, 0.9);
    width: 500px;
    margin: auto;
  }
  form {
    background: rgba(5, 5, 5, 0.5);
    padding: 2.5rem 2.5rem;
    border-radius: 2rem;
    width: 400px;
    margin: auto;
    color: white;
  }
  .submit-button {
    width: 100%;
    padding: 0.70rem;
    background: rgb(18, 133, 65);
    color: white;
    box-shadow: 0px 3px 5px black;
    border-radius: 10px;
    cursor: pointer;
  }
  .input-headings {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
  }
  .form-inputs {
    display: block;
    width: 50%;
    height: 2rem;
    box-shadow: 3px 3px 5px black;
    padding: 0.25rem 0.75rem;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
  }
  #title {
    text-align: center;
    background-color: rgb(34, 32, 28, 0.6);
    text-shadow: 2px 2px 5px black;
    color: white;
    border-radius: 10px
  }
  #description {
    text-align: center;
    color: white;
    text-shadow: -2px 2px 5px black;
    font-family: garamond;
  }
  #textarea {
    width: 100%;
    background-color: rgb(10, 7, 7, 0.5);
    color: aliceblue;
    font-size: larger;
  }